<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319847831665-2n5ksse718vn9si4u68bs71oesldeper.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319847831665-2n5ksse718vn9si4u68bs71oesldeper</string>
	<key>API_KEY</key>
	<string>AIzaSyBmZemNnRQVZssDpbXVCBKlTTjtYpVaEDw</string>
	<key>GCM_SENDER_ID</key>
	<string>319847831665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.ufms.Eprimora</string>
	<key>PROJECT_ID</key>
	<string>eprimoraufms</string>
	<key>STORAGE_BUCKET</key>
	<string>eprimoraufms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319847831665:ios:9f1b3b133504d73eef23d0</string>
	<key>DATABASE_URL</key>
	<string>https://eprimoraufms.firebaseio.com</string>
</dict>
</plist>